.dashboard-cmp {
  background-color: var(--bg03);
  min-height: 100vh;
}

.dashboard-cmp .main-dashboard {
  display: flex;
  gap: 1rem;
}

.dashboard-cmp .content-dashboard {
  padding: 1rem;
  padding-top: 100px;
  width: 100%;
  overflow-y: auto;
  height: 100vh;
}  
