.register-cmp .sec-register {
  padding-top: 7rem;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-height: calc(100vh - 100px);
  background-color: var(--bg03);
}

.register-cmp .form-register {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: .5rem;
  background-color: var(--bg03);
  max-width: 400px;
  min-width: 300px;
  width: 100%;
}

.register-cmp .form-register button {
  width: 50%;
}

.register-cmp .info-card-register {
  box-shadow: var(--main-shadow);
  max-width: 400px;
  min-width: 300px;
  width: 100%;
  border-radius: var(--button-radius);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.register-cmp .card-item-register {
  display: flex;
  gap: 1rem;
}