.button01-cmp,
.button02-cmp,
.button03-cmp {
  height: var(--button-height);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-wrap: nowrap;
  padding: 0 2rem;
  border-radius: var(--button-radius);
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: .11rem;
  font-size: .8rem;

  &:hover {
    background-color: #fff;
    opacity: .9;
    color: black !important;
  }

  &:active {
    background-color: #d4d4d4;
    opacity: .9;
    color: black !important;
  }
}