.user-card-cmp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: .8rem;
  max-width: 366px;
  padding: 2rem;
  border-radius: var(--button-radius);
  background-color: var(--bg03);
  box-shadow: var(--main-shadow)
}

.user-card-cmp .circle-user-card {
  background-color: #b3b3b3;
  border-radius: 50%;
  padding: .6rem;
  height: 170px;
  width: 170px;
}

.user-card-cmp .circle-user-card>img {
  border-radius: 50%;
}

.user-card-cmp .title-user-card {
  font-size: 1.5rem;
  font-weight: 500;
}

.user-card-cmp .role-user-card {
  font-size: .9rem;
  background-color: #4d4d4d;
  color: #cccccc;
  height: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.user-card-cmp .button-wrap-user-card {
  display: flex;
  gap: .5rem;
  width: 100%;
}