.app-cmp-wrapper.light {
  --bg01: #331269;
  --bg02: #e7efff;
  --bg03: #fff;
  --bg-contrast: #28114d;
}

.app-cmp-wrapper {
  min-height: 100vh;
  background: var(--bg01);
}

.app-cmp {
  --button-radius: 5px;
  --button-height: 45px;
  margin: 0 auto;
  max-width: 1350px;
  min-width: 300px;
  min-height: 100vh;
}